{% extends "base.html" %}

{% block main%} 
<div class ="profile">
    <div class = summary>
        <img src = "{{url_for('static', filename= 'girl.jpg') }}" style="width:200px; height:250px;">
        <p id=name> Mary Jane </p>
        <p id=ig-handle> @mary_jane </p>
        <p id=address> Kingston, Jamaica</p>
        <p id=date-joined> Joined {{startdate}}</p>
    </div>

    <div class = info>
    <p id=bio> I am a young lady who is intrigued by Web Design and Programming. My major is Actuarial Science and I am hoping to pursue a career that is a marry of both fields. </p>
    <p id=stats> 7    100   250 </p>
    </div>
    <button>Follow </button>
</div>
{% endblock %}